<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portfolio</title>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous"> -->
    <!-- <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script> -->
    <link rel="stylesheet" type="text/css" href="css/index.css"/>
    <script src="https://kit.fontawesome.com/0833b1b89b.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.0.0/animate.min.css"/>
    <link href='https://fonts.googleapis.com/css?family=Charm|Amita|Aclonica|Cherry Swash|Lato|Montserrat' rel='stylesheet'>
</head>
<body>
    <div class="nav-container">
        <div class="nav-box-1">
            <div class="nav-links-ul">
                <div class="nav-item-pad">
                    <a class="" href="https://www.linkedin.com/in/hemant-singh-2496a0112" target="_blank"><i class="fab fa-linkedin fa-2x link-color"></i></a>
                </div>
                <div class="nav-item-pad">
                    <a class="" href="https://github.com/Hemant-1821/" target="_blank"><i class="fab fa-github fa-2x git-color"></i></a>
                </div>
                <div class="nav-item-pad">
                    <a class="" href="https://stackoverflow.com/users/11155550/hemant-singh" target="_blank"><i class="fab fa-stack-overflow fa-2x stack-color"></i></a>
                </div>
            </div>
            <input type="checkbox" id="check">
            <label for="check" class="checkbtn">
                <i class="fas fa-bars"></i>
            </label>
        </div>
        
        <div class="nav-box-2">
            <div class="">
                <a class="" href="#about"><b><p class="nav-link-color">About</p></b></a>
            </div>
            <div class="">
                <a class="" href="#skills-overview"><b><p class="nav-link-color">Skills</p></b></a>
            </div>
            <div class="">
                    <a class="" href="#"><b><p class="nav-link-color">Projects</p></b></a>
            </div>
            <div class="">
                <a class="" href="#"><b><p class="nav-link-color">Contact</p></b></a>
            </div>
        </div>
    </div>
    <div id="about"></div>
    <header class="main-header">
        <div class="view blur-bg"> </div>
        <div class="animate__animated animate__fadeInDown head-style">
            <div class="head-para">Hi,I'm Hemant</div>
        </div>
        <div class="animate__animated animate__fadeInUp cont-style">
            <p class="cont-para">I am a full stack developer from Indore(M.P), India.I enjoy building everything from small business sites to rich interactive web apps.If you are a business seeking a web presence or an employer looking to hire, you can get in touch with me here.</p>
            <button type="button" class="btn-style">I need a Website <i class="fas fa-angle-right"></i></button>
            <button type="button" class="btn-style btn-pad">I'm looking to hire <i class="fas fa-angle-right"></i></button>
        </div>
        <div class = "animate__animated animate__fadeInUp scroll-box">
            <div class="scroll-text">Learn more about what i do</div>
            <a href="#skills-overview"><i class="fas fa-angle-down fa-2x scroll-text-arrow"></i></a>
        </div>
    </header>

    <div class="skills-overview" id="skills-overview">
        <h1>Skills Overview</h1>
    </div>
        <div class="container-1">
            <div class="box-1 box">
                <i class="fas fa-laptop-code fa-2x db-icon"></i>
                <p class="skills-head">Frontend</p>
                <ul class="skills-list">
                    <li class="li-skill"><i class="fas fa-check fa-1x skills-icon"></i><p class="skills-list-p">&nbsp;HTML</p></li>
                    <li class="li-skill"><i class="fas fa-check fa-1x skills-icon"></i><p class="skills-list-p">&nbsp;CSS</p></li>
                    <li class="li-skill"><i class="fas fa-check fa-1x skills-icon"></i><p class="skills-list-p">&nbsp;JavaScript</p></li>
                    <li class="li-skill"><i class="fas fa-check fa-1x skills-icon"></i><p class="skills-list-p">&nbsp;EJS</p></li>
                    <li class="li-skill"><i class="fas fa-check fa-1x skills-icon"></i><p class="skills-list-p">&nbsp;Bootstrap</p></li>
                    
                </ul>
            </div>
            <div class="box-2 box">
                <i class="fas fa-database fa-2x db-icon"></i>
                <p class="skills-head">Backend</p>
                <ul class="skills-list">
                    <li class="li-skill"><i class="fas fa-check fa-1x skills-icon"></i><p class="skills-list-p">&nbsp;Node.js</p></li>
                    <li class="li-skill"><i class="fas fa-check fa-1x skills-icon"></i><p class="skills-list-p">&nbsp;Express.js</p></li>
                    <li class="li-skill"><i class="fas fa-check fa-1x skills-icon"></i><p class="skills-list-p">&nbsp;Socket.io</p></li>
                    <li class="li-skill"><i class="fas fa-check fa-1x skills-icon"></i><p class="skills-list-p">&nbsp;JSON-Server</p></li>
                    <li class="li-skill"><i class="fas fa-check fa-1x skills-icon"></i><p class="skills-list-p">&nbsp;MySql</p></li>
                    <li class="li-skill"><i class="fas fa-check fa-1x skills-icon"></i><p class="skills-list-p">&nbsp;MongoDB</p></li>
                </ul>
            </div>
            <div class="box-3 box">
                <i class="fas fa-code fa-2x db-icon"></i>
                <p class="skills-head">Others</p>
                <ul class="skills-list">
                    <li>
                        <li class="li-skill"><i class="fas fa-check fa-1x skills-icon"></i><p class="skills-list-p">&nbsp;Docker</p></li>
                        <li class="li-skill"><i class="fas fa-check fa-1x skills-icon"></i><p class="skills-list-p">&nbsp;Git</p></li>
                        <li class="li-skill"><i class="fas fa-check fa-1x skills-icon"></i><p class="skills-list-p">&nbsp;Heroku</p></li>
                        <li class="li-skill"><i class="fas fa-check fa-1x skills-icon"></i><p class="skills-list-p">&nbsp;Firebase</p></li>
                        <li class="li-skill"><i class="fas fa-check fa-1x skills-icon"></i><p class="skills-list-p">&nbsp;IBM Cloud</p></li>
                    </li>
                </ul>
            </div>
        </div>
    <!-- <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script> -->
    <!-- <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script> -->
    <script>

    </script>
</body>
</html>