html,
body,
header,
.view {
  height: 100%;
}

html {
  scroll-behavior: smooth;
}

.main-header{
  position: relative;
}

.navbar {
  position:fixed;
  /*   */
}

.blur-bg {
  background-image: linear-gradient( rgba(27, 72, 107,0.80),rgba(48, 179, 91, 0.64)), url(/images/s.jpg);
  background-repeat: no-repeat; 
  background-size: 100%;
  background-position: center center;
  filter: blur(1px);
  -webkit-filter: blur(1px);
  position: absolute;
  left: 0;
  right: 0;
  z-index: -1;
}

.nav-item-pad{
    padding-right: 15%;
    /* z-index: 2; */
    /* position: absolute; */
}

.nav-link-color{
  color: whitesmoke;
}

.a {
  margin-bottom: 10px;
}

.nav-link-color {
  display: inline-block;
  color: rgb(243, 239, 239);
  text-decoration: none;
}

.nav-link-color::after {
  content: '';
  display: block;
  width: 0;
  height: 2px;
  background: rgb(235, 231, 231);
  transition: all .2s;
}

.nav-link-color:hover::after {
  width: 100%;
  /* transition: all .3s; */
}

.link-color{
  color: rgb(0, 119, 181);
}

.git-color{
  color: black;
}

.stack-color{
  color: orange;
}

.head-style{
    padding-top: 10%;
    padding-left: 15%;
    z-index: 2;
    position: absolute;
}

.head-para{
    font-family: "Charm";
    font-size: 270%;
    font-weight: lighter;
    color: antiquewhite;
}

.cont-style{
    margin-top: 5px;
    padding-top: 15%;
    padding-left: 15%;
    padding-right: 21%;
    z-index: 2;
    position: absolute;
}

.cont-para{
  font-family: "Cherry Swash";
  font-size: 130%;
  font-weight: lighter;
  color: antiquewhite;
}


.btn-pad{
  margin-left: 20px;
}

.scroll-box{
  position: absolute;
  z-index: 2;
}

.scroll-text{
  color: antiquewhite;
  font-family: 'Cherry Swash';
}

.scroll-text-arrow{
  color: antiquewhite;
}

.box {
  box-shadow:
  0 2.8px 2.2px rgba(0, 0, 0, 0.034),
  0 6.7px 5.3px rgba(0, 0, 0, 0.048),
  0 12.5px 10px rgba(0, 0, 0, 0.06),
  0 22.3px 17.9px rgba(0, 0, 0, 0.072),
  0 41.8px 33.4px rgba(0, 0, 0, 0.086),
  0 100px 80px rgba(0, 0, 0, 0.12);
  min-height: 200px;
  width: 30vw;
  margin: 100px auto;
  background: white;
  border-radius: 5px;
}

.skills-overview{
  text-align: center;
  font-family: "Aclonica";
  font-size: 270%;
  font-weight: lighter;
  color: black;
  margin-top: 40px;
}



.container-1{
  display: flex;
  /* margin: 30px; */
  margin-top: 10px;
  border-radius: 25px;
}

.skills-head{
  text-align: center;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 150%;
  font-weight: lighter;
  color: black;
}

.box1{
  flex: 1;
}

.box2{
  flex: 1;
}

.box3{
  flex: 1;
}

.db-icon{
  color: rgba(48, 179, 91);
  padding-left: 165px;
  /* justify-content: center; */
}

.skills-list{
  list-style-type:none;
}

.skills-list-p{
  font-size: 130%;
  font-family: 'Times New Roman', Times, serif;
}

.li-skill{
  display: flex;
  align-items: baseline ;
}

.skills-icon{
  color: rgba(48, 179, 91);
}

.container-1 div{
  border: 1px black solid;
  padding: 10px;
}

@media screen and (max-width: 480px) {
  html,
  body,
  header,
  .view {
    height: 100vh;
  }

  .head-style{
    padding-top: 40%;
    padding-left: 5%;
    z-index: 2;
    position: absolute;
  }

  .head-para{
    font-family: "Charm";
    font-size: 200%;
    font-weight: lighter;
    color: antiquewhite;
  }

  .cont-style{
    margin-top: 30px;
    padding-top: 50%;
    padding-left: 5%;
    padding-right: 5%;
    z-index: 2;
    position: absolute;

  }

  .cont-para{
    font-family: "Cherry Swash";
    font-size: 100%;
    font-weight: lighter;
    color: antiquewhite;
  }

  .btn-pad{
    margin-left: 20px;
    font-size: 70%;
  }

  .btn-pad-2{
    font-size: 70%;
  }

  .scroll-text{
    padding-top: 90%;
    margin-top: 35%;
    margin-left: 26%;
    color: antiquewhite;
    font-family: 'Cherry Swash';
  }
  
  .scroll-text-arrow{
    margin-top: 1%;
    margin-left: 47%;
    color: antiquewhite;
  }
}
